@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Bebas+Neue&family=Permanent+Marker&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Barlow+Condensed&family=Bebas+Neue&family=Permanent+Marker&family=Tilt+Prism&display=swap');

body {
    background-color: black;
    font-family: 'Bahiana', cursive;
    margin: auto;
    background-size: cover;
}

.elcontainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.fuenteMin {
    background-color: rgba(28, 28, 28, 0.8);
    font-family: 'Bahiana', cursive;
    color: rgb(158, 153, 153);
    font-size: 28px;
    padding: 5px;
    border-radius: 5px;
}

.elcontainer form .fuentePrinc {
    font-family: 'Bahiana', cursive;
    color: black;
    font-size: 30px;
    padding: 10px;
}

.elcontainer form .fuentePrincFondo {
    font-family: 'Bahiana', cursive;
    background-color: rgba(206, 5, 5, 0.8);
    color: black;
    font-size: 35px;
    padding: 10px;
    
}

.elcontainer form {
    display: flex;
    background-color: grey;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px; /* Cambiado para adaptarse a pantallas más pequeñas */
    height: auto;
    padding: 15px;
    position: relative;
    flex-direction: column;
    margin: auto; /* Centrado horizontal */
}

.centrarEnPag {
    text-align: center;
}

.elcontainer .eltitulo {
    font-family: 'Bahiana', cursive;
    font-size: 40px;
    color: white;
    align-items: center;
}

.rojo {
    color: red;
}

img.logo {
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.centrarEnPag button.botoncin {
    font-family: 'Bahiana', cursive;
    font-size: 30px;
    color: white;
    padding: 9px 25px;
    background: #212629;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.centrarEnPag button:hover.botoncin {
    background-color: #3e4041;
    color: #ff0e0e;
    transform: scale(1.1);
}

.centrar-contenido {
    align-items: center;
    justify-content: center;
}

.text-box-ajuste {
    /* Ajuste de tamaño de caja de texto acorde al fondo del label y largo de la misma */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 8px; /* Ajuste del relleno */
    border-radius: 5px;
    width: 100%; /* Cambiado para adaptarse al 100% del contenedor */
    box-sizing: border-box; /* Box-sizing para incluir relleno y borde en el ancho total */
    margin-bottom: 10px; /* Espaciado inferior */
}

.inter-texto {
    /* Interlineado de los textos */
    line-height: 1.7;
}

.container-inicial {
    /* Container con banner horizontal y título de bienvenida */
    display: flex;
    flex-direction: column; /* Cambiado a columna para centrar el título */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: initial;
}

.container-inicial h1 {
    /* Título de bienvenida con fondo oscuro */
    font-family: 'Bahiana', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px; /* Ajuste del relleno */
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin: 0; /* Eliminado el margen superior e inferior */
}

.elcontainer form select {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 5px; /* Ajuste del relleno */
    border-radius: 5px; /* Ajuste del borde redondeado */
}

.elcontainer form select {
    width: auto; /* Ancho automático para que se ajuste al contenido */
    margin-bottom: 10px; /* Espaciado inferior */
    box-sizing: border-box; /* Box-sizing para incluir relleno y borde en el ancho total */
}

.inter-texto input.fuente-mas-grande {
    font-size: 30px !important; /* Ajusta el tamaño de fuente según tus preferencias */
}

.centrarEnPag input.fuente-mas-grande {
    font-size: 30px !important; /* Ajusta el tamaño de fuente según tus preferencias */
}