@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Bebas+Neue&family=Permanent+Marker&family=Tilt+Prism&display=swap');

/**{
    box-sizing: border-box;
}*/

body{
    max-width: 2000px;
    margin: auto;
    background-color: black;
}

.elcontainer{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;

}

.container-inicial{/*container con banner horizontal y titulo de bienvenida*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: initial;

} 

.container-inicial h1{/*titulo de bienvenida con fondo oscuro*/
    font-family: 'Bahiana', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    
}

.centrarEnPag button.botoncin {
    font-family: 'Bahiana', cursive;
    font-size: 30px;
    color: white;
    padding: 9px 25px;
    background: #212629;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.centrarEnPag button:hover.botoncin {
    background-color: #3e4041;
    color: #ff0e0e;
    transform: scale(1.1);
}


